.header {
    background-color: #a3a3ac;
    border-radius: 8px;
    margin: auto;
    width: 100%;
    text-align: center;
}

body {
    overflow-y: scroll;
    justify-content: center;
    align-items: start;
    scroll-behavior: smooth;
}

.details-container {
    justify-content: space-between;
    background-color: #73797e;
    border-radius: 8px;
    padding-bottom: 30px;
}

.form-control {
    width: 30%;
    padding: 8px 12px;
    color: #0c0d0f;
    background-color: rgb(224, 213, 213);
    border: 1px solid ;
    border-radius: 8px;
    font-size: large;
    display: flex;
}

.details-container .submit {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(224, 213, 213);
    border: none;
    border-radius: 8px;
    font-size: larger;
    font-weight: 800;
    cursor: pointer;
    left: 45%;
}

.details-container .logout {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: 50px;
    right: 170px;
    border-radius: 8px;
    border: none;
    background-color: rgb(212, 179, 179);
}