body {
    justify-content: center;
    align-items: start;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

table {
    margin-top: 20px;
    width: 100%;
}

td {
    padding: 10px 10px 10px;
    text-align: center;
    color: rgb(218, 204, 204);
    border: 3px solid #2d5166;
}

th {
    text-align: left;
    font-weight: 700;
    color: rgb(218, 204, 204);
}

thead th {
    padding: 10px 10px 10px;
    font-size: large;
    background-color: #195292;
    color: #fff;
    border: 1px solid #499bca;
}